rect.rect-main {
  stroke: #d32f2f;
  stroke-width: 2;
  fill-opacity: 0;
  stroke-opacity: 0.5;
}

div.sample-div {
  position: absolute;
  top: 5%;
  left: 5%;
}

ul {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  background-color: gray;
}
