#svg {
  height: 500px;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.showMe {
  border-style: solid;
  border-color: #fb2;
  border-width: 1px;
}
.pic {
  height: 500px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
#container {
  height: 500px;
  width: 100%;
}
